# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Streamlit
.streamlit/

# Local data
# groups.json (Comentado para permitir persistência via Git Backend)

# Local credentials (NEVER COMMIT)
razaiestoque.txt
